@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

div.container {
  width: 80%;
  height: 80vh;
  margin: auto auto;
}


h1 {
  font-family: "Google Sans Flex", sans-serif;
}
